# Visual Studio
.vs/
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Rider
.idea/

# VS Code
.vscode/

# Publish
publish/

# ASP.NET
appsettings.Development.json